<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">

    {% comment %}theme-check-disable RemoteAsset{% endcomment %}
    {%- render 'tool.tag-gtm' -%}

    {%- if shop.metafields.settings.tags.google_ads.purchase_conversion.id != blank -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ shop.metafields.settings.tags.google_ads.purchase_conversion.id }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        {% if shop.metafields.settings.tags.ga.tracking_id != blank -%}
        gtag('config', '{{ shop.metafields.settings.tags.ga.tracking_id }}'{% if shop.metafields.settings.tags.ga.linker != blank %}, {
          'linker': {
            'accept_incoming': {{ shop.metafields.settings.tags.ga.linker.accept_incoming | json }},
            'domains': {{ shop.metafields.settings.tags.ga.linker.domains | json }}
          }
        }{%- endif -%});
        {% endif -%}
        gtag('config', '{{ shop.metafields.settings.tags.google_ads.purchase_conversion.id }}', { 'allow_enhanced_conversions': true });
      </script>
    {%- endif -%}

    {%- liquid
      assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
      assign uses_comma_decimals = false
      if currencies_using_comma_decimals contains cart.currency.iso_code
        assign uses_comma_decimals = true
      endif
    -%}

    {%- liquid
      render 'tool.data-layer', uses_comma_decimals: uses_comma_decimals
      render 'tool.tag-facebook', uses_comma_decimals: uses_comma_decimals
      render 'tool.tag-pinterest', uses_comma_decimals: uses_comma_decimals
      render 'tool.tag-tiktok', uses_comma_decimals: uses_comma_decimals
      render 'tool.tag-microsoft-uet', uses_comma_decimals: uses_comma_decimals
    -%}
    {% comment %}theme-check-enable RemoteAsset{% endcomment %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    <link rel="icon" type="image/png" href="{{ 'favicon.png' | asset_img_url: 'master' }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
      {{ settings.type_body_font | font_face: font_display: 'swap' }}
      {{ body_font_bold | font_face: font_display: 'swap' }}
      {{ body_font_italic | font_face: font_display: 'swap' }}
      {{ body_font_bold_italic | font_face: font_display: 'swap' }}
      {{ settings.type_header_font | font_face: font_display: 'swap' }}

      :root {
        --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
        --font-body-style: {{ settings.type_body_font.style }};
        --font-body-weight: {{ settings.type_body_font.weight }};
        --font-body-scale: 1;

        --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
        --font-heading-style: {{ settings.type_header_font.style }};
        --font-heading-weight: {{ settings.type_header_font.weight }};        
        --font-heading-scale: 1;

        --color-gold-ltr: 237, 223, 154;
        --color-gold-lt: 222, 190, 107;
        --color-gold-m: 195, 163, 85;
        --color-gold-dk: 168, 135, 64;
        --color-gold-dkr: 142, 108, 45;

        --color-black: 3, 3, 3;
        --color-gray-lt: 200, 200, 200;
        --color-gray-m: 120, 120, 120;
        --color-gray-dk: 60, 60, 60;
        --color-white: 255, 255, 255;
        --color-off-white: 248, 248, 248;
        --color-beige: 249, 245, 245;

        --color-base-text: 3, 3, 3;
        --color-base-background-1: 255, 255, 255;
        --color-base-background-2: 255, 255, 255;
        --color-base-solid-button-labels: 3, 3, 3;
        --color-base-outline-button-labels: 3, 3, 3;
        --color-base-accent-1: var(--color-gold-m);
        --color-base-accent-2: var(--color-gold-m);
        --payment-terms-background-color: 3, 3, 3;

        --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        --page-width-margin: {% if settings.page_width == '1600' %}2{% else %}0{% endif %}rem;
      }
    {% endstyle %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>

    {{ 'section-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'component-list-social.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'password-modal.js' | asset_url }}" defer="defer"></script>
  </head>

  <body class="password">
    {%- liquid
      render 'tool.tag-gtm', noscript: true
      render 'tool.tag-facebook', uses_comma_decimals: uses_comma_decimals, noscript: true
      render 'tool.tag-pinterest', uses_comma_decimals: uses_comma_decimals, noscript: true
    -%}

    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{ 'accessibility.skip_to_text' | t }}
    </a>

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>

    <footer>
      {% section 'main-password-footer' %}
    </footer>

    <style>#smile-ui-container { display: none !important; }</style>
  </body>
</html>
